# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
pos_word_files

# testing
coverage
.vscode
test.js

# production
build

# misc
.DS_Store
.env
npm-debug.log
