.App {
  text-align: center;
}

.container {
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textbox {
  resize: none;
  border: 0;
  outline: 0;
  padding:1px;
  background: transparent;
  border-bottom: 1px solid lightgrey;
  width: 500px;
  height: 30px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}