.App {
  text-align: center;
}

.textbox {
  resize: none;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  width: 300px;
  height: 100px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}